@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  color: rgb(192, 192, 192);
}

@layer utilities {
  .aktif {
    display: flex;
  }

  .text-balance {
    text-wrap: balance;
  }
}
